:root {
  --main-bg-color: white;
  --main-text-color: black;
  --secondary-text-color: white;
  --navbar-height: 10vh;
}

.App {
  text-align: center;
}

.navbar {
  position: fixed;
  height: var(--navbar-height);
  align-items: center;
  background: rgb(255, 255, 255);
  z-index: 1000;
  box-shadow: 0px 1px 10px;
}

.navbar--top {
  top: 0;
}

.navbar--logo {
  height: 10vh;
}

.content {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-flow: column nowrap;
  position: relative;
  top: 25vh;
}

.content--full {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  top: calc(var(--navbar-height));
}

.horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100vw;
}

.hero-splash-page {
  background-image: url("./media/aca-splash-image.png");
  background-color: aliceblue;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  color: var(--secondary-text-color);
  margin: 1%;
}

.hero-text--large {
  font-size: 7vh;
}

.chef-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 1px 5px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10px;
}

.chef-line--pi {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.chef-line--img {
  border-radius: 100%;
  border: 1px solid;
  height: 20vh;
  margin-top: 10px;
}

.chef-line--profile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.chef-page--media {
  height: 100vh;
  width: 50vw;
  position: absolute;
  left: 0;
  background-color: antiquewhite;
}

.chef-page--text {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 50vw;
  position: absolute;
  left: 50vw;
}

.chef-page--text-header {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.chef-page--text-body {

}