:root {
  --main-bg-color: white;
  --main-text-color: black;
  --secondary-text-color: white;
}

.App {
  text-align: center;
}

.horizontal {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100vw;
}

.navbar {
  position: fixed;
  height: 10vh;
  align-items: center;
  background-color: white;
}

.navbar--top {
  top: 0;
}

.contentdiv {
  padding-top: 10%;
}

.navbar--logo {
  height: 10vh;
}

.content {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-flow: column nowrap;
}

.hero-splash-page {
  background-image: url("./media/aca-splash-image.png");
  background-color: aliceblue;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  color: var(--secondary-text-color);
  margin: 1%;
}

.hero-text--large {
  font-size: 7vh;
}

.chef-line {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 1px 5px;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10px;
}

.chef-line--pi {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.chef-line--img {
  border-radius: 100%;
  border: 1px solid;
  height: 200px;
  margin-top: 10px;
}

.chef-line--profile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}